/* 
Colour scheme:
  - main light: #F4F5F5
  - main dark: #2B2430
  - grey beige: #827E72
  - blue grey: #9EA5A3
  - orange beige: #7C7064
*/

/* 
rem for fonts
em for padding and other things like that 
*/

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* the full site config */
html {
  font-family: 'Courier New', Courier, monospace;
  background-color: #F4F5F5;
  color: #2B2430;
}

body {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 9em auto; 
}


/* The header box */
header{
  background-color:#9EA5A3;
  font-family: fantasy;
  color: #2B2430;
  height: 100%;
  padding: 2em;
}

h1 {
  font-size: 200%;
}

/* The container which holds the sidebar and main content */
.main-container {
  display: grid;
  grid-template-columns: 200px auto;
  min-height: 100%;
}

.side {
  background-color: #827E72;
  padding: 2em;
}

/* The side navigation menu */
.sidebar {
  width: 100%;
  background-color: #827E72;
  height: 100%;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #F4F5F5;
  font-size: 1.2rem;
  padding: 1em;
  text-decoration: none;
  font-family:'Courier New', Courier, monospace;
  width: 100%;
}

/* Active/current link */
.sidebar a.active {
  background-color: #7C7064;
  color: #F4F5F5;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #7C7064;
}

/* Style page content */
main {
  padding: 20px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.bodyheader {
  padding: 1em;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

iframe {
  width: 100%;
  height: 90vh;
}
