/* the full site config */
html {
  font-family: fantasy;
  background-color: black;
}

/* The overall site body */
body{
  margin: 0;
}

/* The container which holds everything in the body */
.container {
  outline:black 1px solid; 
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* The header box */
header{
  margin: 0;
  background-color: rgb(6, 55, 31);
  width: 100%;
  height: 5em;
  padding: 2em;
}

/* The header text */
h1{
  color: white;
  font-size: 200%;
}

.side {
  background-color: black;
  min-height: 100vh;
}

/* The container which holds the sidebar and main content */
.main-container {
  display: flex;
  padding: 2px;
}

/* The side navigation menu */
.sidebar {
  padding-right: 2px;
  width: 200px;
  background-color: black;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: rgb(6, 55, 31);
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: black;
}

/* Style page content */
main {
  background-color: grey;
  padding: 20px 20px;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}
