/* 
Colour scheme:
  - main light: #F4F5F5
  - main dark: #2B2430
  - grey beige: #827E72
  - blue grey: #9EA5A3
  - orange beige: #7C7064
*/

/* 
rem for fonts
em for padding and other things like that 
*/

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* the full site config */
html {
  font-family: 'Courier New', Courier, monospace;
  background-color: #F4F5F5;
  color: #2B2430;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 

/* The header box */
header{
  background-color:#9EA5A3;
  font-family: fantasy;
  font-weight: bolder;
  color: #2B2430;
  height: 12em;
  padding: 2em;
}

/* The header text */
h1{
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/* The container which holds the sidebar and main content */
.main-container {
  display: flex;
}

.side {
  background-color: #827E72;
  min-height: 100vh;
  padding: 2em;
}

/* The side navigation menu */
.sidebar {
  width: 200px;
  background-color: #827E72;
  height: 100%;
  overflow: auto;
  min-height: 100vh
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #F4F5F5;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 1em;
  text-decoration: none;
  font-family:'Courier New', Courier, monospace;
  width: 200px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #7C7064;
  color: #F4F5F5;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #7C7064;
  color: 2B2430;
}

/* Style page content */
main {
  padding: 20px 20px;
  width: 100%;
}

.bodyheader {
  padding: 1em;
}

iframe {
  width: 100%;
  height: 90%;
}